<?xml version='1.0'?>

<database>
      <name>SocRob at Home Model Database</name>
      <license>Creative Commons Attribution 3.0 Unported</license>

      <models>
	<uri>file://isr-empty-testbed/ouside_wall</uri>
      </models>
      <models>
	<uri>file://isr-empty-testbed/bedroom</uri>
      </models>
      <models>
	<uri>file://isr-empty-testbed/bathroom</uri>
      </models>
      <models>
	<uri>file://isr-empty-testbed/floor</uri>
      </models>
      <models>
	<uri>file://isr-empty-testbed/inside_hallway</uri>
      </models>
      <models>
	<uri>file://isr-empty-testbed/outside_hallway</uri>
      </models>
      <models>
	<uri>file://isr-empty-testbed/patio</uri>
      </models>

</database>
